

/* @media (min-width: 1024px) { */
.img{
    display: flex; 
      
}
.headImg{
    width: 30%;
    height: 30%;  
    margin-left: 2rem;  
    margin-right: 2rem; 
}
.itemImg{
    display: flex;
    align-items: center;
    margin-right: 2rem;     
}
.item{
    width: 20%;
    height: 60%; 
    margin-right: 1rem; 
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 2rem;      
}
.firstButton{
    background-color: grey;
    color: honeydew;
    width: 10%;
    border:gray;
}
.secondButton{
    margin-left: 2rem;
    background-color:hotpink;
    color: honeydew;
    width: 10%;
    border: hotpink;
}

/* } */

@media (max-width:767px) {
.img{
    display: flex; 
    flex-direction: column;  
    
}
.headImg{
    width: 80%;
    height: 80%;  
    
}
.itemImg{
    display: flex;
    justify-content:center ;
    flex-wrap: wrap;
    margin-top: 2rem;   
}
.item{
    width: 30%;
    height: 30%; 
    margin-right: 1rem; 
    margin-top: 1rem;   
}

.button{
    display: none;
    
}

}

           

